*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font: 400 normal 16px/1 Arial, sans-serif;
    background: #eef7ff;
    color: black;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.header {
    padding: 20px 0px;
    min-height: 80px;
    text-align: center;
}
